doctype html
html 
    head 
        title= `${title}`

    body    
        h1 Contacts
            each contact in data
                    h2.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
                    p.card__email #{contact.properties.email}