doctype html
html(lang="en")
    head
        title Update contact info
    body
            p User: #{userEmail}
            p Favorite Book: #{favoriteBook}
            form(method="POST")
                label(for="newVal") New favorite book
                input(type="text" name="newVal" required)
                input(type="submit" value="Submit")